* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 18px;
  height: 106px;
  line-height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}
.input-busqueda{
  display: block;
  height: 34px;
  width: 100%;
  padding: 2px;
  padding-left: 25px;
}
.iconos{
  position: absolute;
  top: 45px;
  left: 20px;
}
.fa-search{
  color: #c4bebe;
}
.seleccion{
  width: 100%;
  padding: 16px;
  height: 300px;
  background-color: green;
  position: absolute;
  top: 90px;
}
